[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
ipaddress = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
PyJWT = "*"
py-bsdauth = "*"
twisted = "*"
py-openbsd-rest = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
