[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddress = "*"
Flask = "*"
PyJWT = "*"
py-bsdauth = "*"
pipfile = "*"
netifaces = "*"
flask-bootstrap  = "*"
flask-login = "*"
wtforms = "*"
flask-wtf = "*"
flask-wtf-ext = "*"
wtforms_components = "*"
email_validator = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
